body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #212121;
  font-size: 30px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  margin-top: 40px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  margin-top: 20px;
}

li {
  color: #728DBC;
  font-size: 16px;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 30px;
  max-width: 950px;
}

.weather-app {
  border-radius: 30px;
  border: 1px solid #dadde1; 
  background: linear-gradient(109deg, #F3F7FF 1.33%, #EAF8FF 100%);
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
}

.clearfix {
  margin: 20px auto;
}


.temperature {
  color: #212121;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}


.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 15px;
  border: 1px solid #727272;
}

.form-control:hover {
  background: #fff;
  border-radius: 15px;
  color:#212121;
  border: 1px solid #727272;
}

.main-description {
  text-transform: capitalize;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  border-radius: 30px; 
  padding: 16px 24px;
  background-color: #fff;
  margin: 8px;
}

.weather-forecast-date {
  text-align: center;
  line-height: 20px;
  margin-bottom: 10 px;
  font-size: 14px;
  color: #728DBC; 
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #728DBC; 
}

.weather-forecast-temperature {
  padding: 0 10px;
  font-size: 14px;
  color: #728DBC; 
}

.weather-big-icon {
  font-size: 56px;
  padding-right: 16px;
}

.btn-primary {
  background: #212121;
  border-radius: 15px;
  color: #fff;
  border-color: #212121;
}

.btn-primary:hover {
  background: #fff;
  border-radius: 15px;
  color: #212121;
  border-color: #212121;
}

.btn-success {
  border-radius: 15px;
  border: 1px solid #EEF8FE;
  background: #FFF;
  color: #212121;
}

.btn-success:hover {
  border-radius: 15px;
  border: 1px solid #EEF8FE;
  background: #E6E6E6;
  color: #212121;
}

.link-code {
  font-size: 14px;
  margin-left: 60px;
}
