body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #212121
  font-size: 30px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  margin-top: 40px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  margin-top: 20px;
}

li {
  color: #728DBC;
  font-size: 16px;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.container {
  display: block;
  margin: o auto;
  padding: 30px auto;
  max-width: 950px;
}

.weather-app {
  border-radius: 30px;
  border: 1px solid #dadde1; 
  background: linear-gradient(109deg, #F3F7FF 1.33%, #EAF8FF 100%);
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
  position: center;
}

.clearfix {
  margin: 20px auto;
}

.weather-icon-matt {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  color: #728DBC;
}

.temperature {
  color: #728DBC;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 15px;
  border: 1px solid #727272;
}

.form-control:hover {
  background: #fff;
  border-radius: 15px;
  color: #212121
  border: 1px solid #727272;
}

.main-description {
  text-transform: capitalize;
}

.hourly-forecast {
  display: block;
  margin: 40px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #728DBC;
}

.weather-icon {
  margin: 10px 0;
  text-align: center;
  color: #728DBC;
  max-width: 24px;
}

.weekly-forecast {
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  background-color: #fff;
  max-width: 90%;
  width: 109px;
  height: 109px;
  padding-top: 10px;
  color: #728DBC;
}

.btn-primary {
  background: #212121;
  border-radius: 15px;
  color: #fff;
  border-color: #212121;
}

.btn-primary:hover {
  background: #fff;
  border-radius: 15px;
  color: #212121
  border-color: #212121
}

.btn-success {
  border-radius: 15px;
  border: 1px solid #EEF8FE;
  background: #FFF;
  color: #212121
}

.btn-success:hover {
  border-radius: 15px;
  border: 1px solid #EEF8FE;
  background: #E6E6E6;
  color: #212121
}

.link-code {
  font-size: 14px;
  margin-left: 60px;
}
